*.container{
    background-color:gray ;
    min-height:50vh;
    border:10px solid  #1D1E4C
}

.content{
    max-width: 700px;
    margin:0 auto;
}

.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} 

.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color:#1D1E4C;
    text-transform: uppercase;
}
 .top_sectionh h4{
    font-size: 25px;
    text-align: end;
 }

.image_container{
    border-radius: 50%;
    overflow:hidden;
}

.images_container,img{
    width: 200px;
    height: 220px;
}
.about_section{
    margin-top:40px;    
}
.about_section h3{
    font-size: 50px;
    font-weight:300;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.1px;
    text-align: justify;
}
.biography_section{
    margin:50px 0;
}
.biography_section{
    margin-bottom: 20px;
}
.biography_section ul{
    margin-left: 50px;
}
.biography_section li{
    margin-bottom: 10px;
}
footer{
    margin: 60px 0;
}
footer p{
    text-align: end;
}